<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: header-css">
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/home_landing.css}"/>
    <title>Product index</title>
</head>
<body>

<div th:replace="fragments/header :: header"></div>


<div class="container">
    <div th:if="${vm != null}" class="row">
        <div class="col-sm-12 col-xs-12 col-md-4">
            <img th:src="${vm.getImage()}" alt="" class="img-responsive">
        </div>
        <div class="col-sm-12 col-xs-12 col-md-8">
            <h2 th:text="${vm.getName()}"></h2>
            <h4>Description</h4>
            <p th:text="${vm.getShortDesc()}"></p>
            <h4>Created date</h4>
            <p th:text="${vm.getCreatedDate().toString()}"></p>
            <h4>Amount</h4>
            <p th:text="${vm.getAmount()}"></p>
        </div>
    </div>
    <div class="row" th:unless="${vm != null}">
        <h2>Không có sản phẩm nào</h2>
        <button class="btn btn-default"><a th:href="@{/}">Quay về trang chủ</a></button>
    </div>
</div>

<footer th:include="fragments/footer :: footer"></footer>

</body>
</html>