<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="admin :: admin-css"></head>
<body>
	<!-- /#page-wrapper -->
	<div id="wrapper">
		<!--<div id="" style="padding-top: 1px;">-->
		<div class="content">
			<div class="content__inner">

				<div th:replace="admin :: header"></div>
				<div th:replace="admin :: sidebar"></div>
				<div class="main__content">

				</div>
			</div>
		</div>
	</div>
</div>

<script>
// <!-- Page-Level Demo Scripts - Tables - Use for reference -->
//  $(document).ready(function() {
//      $('#dataTables-example').DataTable({
//          responsive: true
//      });
//  });
</script>


</body>
</html>