
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>

</head>
<body>
<div th:fragment="footer">
<div class="footer-surround container-fluid">
    <div class="footer container">
        <div class="shop-footer row">
            <div class="footer-logo col-md-3">
                <img th:src="@{/img/logo-shop.png}" alt="KC Shopping">
                <p>Số 01, Đại Cồ Việt, Hai Bà Trưng, Hà Nội.</p>
            </div>
            <div class="col-md-2">
                <h2>Về KC Shopping</h2>
                <ul>
                    <li><a href="">Giới thiệu về shop</a></li>
                    <li><a href="">Chính sách giao hàng</a></li>
                    <li><a href="">Hướng dẫn mua hàng</a></li>
                </ul>
            </div>
            <div class="col-md-2">
                <h2>Thanh toán</h2>
                <ul class="thanh-toan">
                    <li><img src="https://i.imgur.com/HQ74KUx.png" alt="visa"></li>
                    <li><img src="https://i.imgur.com/1bMhJVF.png" alt="card"></li>
                </ul>
            </div>
            <div class="col-md-2">
                <h2>Liên hệ</h2>
                <ul>
                    <li><p>Tel: (+84) 967 664 259</p></li>
                    <li><p>Email: kcshop@gmail.com</p></li>
                </ul>
            </div>
            <div class="footer-social col-md-3">
                <h2>Theo dõi chúng tôi trên</h2>
                <ul>
                    <li><a href="" class="footer-facebook"><span>Facebook</span></a></li>
                    <li><a href="" class="footer-twitter"><span>Twitter</span></a></li>
                    <li><a href="" class="footer-google"><span>Google</span></a></li>
                </ul>
            </div>
        </div>


            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.9.0/sweetalert2.all.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/locale/vi.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/nprogress/0.2.0/nprogress.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r58/three.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/awesomplete/1.1.2/awesomplete.js"></script>
            <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.2.7/raphael.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/justgage/1.2.9/justgage.js"></script>
            <script type="text/javascript">
                if (window.location.hash && window.location.hash == '#_=_') {
                    if (window.history && history.pushState) {
                        window.history.pushState("", document.title, window.location.pathname);
                    } else {
                        // Prevent scrolling by storing the page's current scroll offset
                        var scroll = {
                            top: document.body.scrollTop,
                            left: document.body.scrollLeft
                        };
                        window.location.hash = '';
                        // Restore the scroll offset, should be flicker free
                        document.body.scrollTop = scroll.top;
                        document.body.scrollLeft = scroll.left;
                    }
                }
            </script>

            <script>
                var ajax = new XMLHttpRequest();
                ajax.open("GET", "http://"+window.location.host+"/api/product/getallname", true);
                ajax.onload = function() {
                    var list = JSON.parse(ajax.responseText).data
                    new Awesomplete(document.querySelector("#ajax-example input"),{ list: list });
                };
                ajax.send();
            </script>
            <script>
            $(document).ready(function () {
                $.get("http://"+window.location.host+"/api/user/img/"+$(".user-name").text(), function(data, status){
                    if(data.data != null){
                        $('.user-logo').attr('src',data.data)
                    }
                });
            switch ($('#role').text()){
            case "[ROLE_ADMIN]":
                $('#role').text("Trang ADMIN");
                $('#role').attr('href','/admin');
                $('#role-menu').append("<a href='remote'>Quản lý vườn</a>")
                $('#role-menu').append("<a href='user'>Thông tin admin</a>")
            break;
            case "[ROLE_USER]":
                    $('#role').text("Thông tin khách hàng")
                    $('#role').attr('href','/user')
                    $('#role-menu').append("<a href='rules'>Chính sách giao hàng</a>")
            break;
            }
            })
            </script>
            <script>
                $(document).ready(function(){

                    var quantitiy=0;
                    $('.quantity-right-plus').click(function(e){

                        // Stop acting like a button
                        e.preventDefault();
                        // Get the field name
                        var quantity = parseInt($('#quantity').val());

                        // If is not undefined

                        $('#quantity').val(quantity + 1);


                        // Increment

                    });

                    $('.quantity-left-minus').click(function(e){
                        // Stop acting like a button
                        e.preventDefault();
                        // Get the field name
                        var quantity = parseInt($('#quantity').val());

                        // If is not undefined

                        // Increment
                        if(quantity>0){
                            $('#quantity').val(quantity - 1);
                        }
                    });

                });
            </script>
        <script>
            // console.log(document.cookie)
        </script>
        </footer>
    </div>
</div>
</div>
</body>
</html>



