<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: header-css">
    <title>Admin insert products list</title>

</head>
<body>
    <div id="wrapper" style="padding-top: 1px;">
        <div class="content">
            <div class="content__inner">
                <div th:fragment="sidebar">
                    <div class="name clearfix" >
                        <ul>
                            <li>
                                <a th:href="@{/}" class="logo__shop">
                                    <img alt="logo" th:src="@{/img/logo-shop.png}">
                                </a>
                            </li>
                        </ul>
                        <ul class="nav" id="side-menu">
                            <li class="">
                                <a th:href="@{/admin}">
                                    <i class="fa fa-dashboard fa-fw"></i> Dashboard
                                </a>
                            </li>
                            <li>
                                <a th:href="@{/admin/customer}">
                                    <i class="fa fa-user fa-fw"></i> Quản lý khách hàng
                                </a>
                            </li>
                            <li>
                                <a th:href="@{/admin/category}">
                                    <i class="fa fa-list-alt fa-fw"></i> Quản lý danh mục
                                    <span class="fa arrow"></span>
                                </a>
                                <ul class="nav nav-second-level collapse">
                                    <li><a th:href="@{/admin/category}">Danh sách danh mục</a></li>
                                    <li><a th:href="@{/admin/category/add}">Thêm danh mục mới</a></li>
                                </ul>
                            </li>
                            <li>
                                <a th:href="@{/admin/product}">
                                    <i class="fa fa-money fa-fw"></i> Quản lý sản phẩm
                                    <span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level collapse">
                                    <li><a th:href="@{/admin/product}">Danh sách sản phẩm</a></li>
                                    <li><a th:href="@{/admin/product/add}">Thêm sản phẩm mới</a></li>
                                </ul></li>
                            <li>
                                <a th:href="@{/admin/order}">
                                    <i class="fa fa-shopping-cart fa-fw"></i> Quản lý đơn hàng
                                </a>
                            </li>
                            <li>
                                <a th:href="@{/}">
                                    <i class="fa fa-info fa-fw"></i> Thông tin cá nhân
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="value clearfix">
                    <div class="clear">
                        <ul class="nav navbar-top-links navbar-right">
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#" th:inline="text">
                                    Xin chào <span sec:authentication="name"></span>  <i class="fa fa-caret-down"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-user">
                                    <li>
                                        <a th:href="@{/}">
                                            <i class="fa fa-globe fa-fw"></i> Visit website</a>
                                    </li>
                                    <li>
                                        <a th:href="@{/logout}">
                                            <i class="fa fa-sign-out fa-fw"></i> Đăng xuất
                                        </a>
                                    </li>
                                </ul> <!-- /.dropdown-user -->
                            </li>
                            <!-- /.dropdown -->
                        </ul>
                    </div>
                    <div class="clear">
                        <section>
                            <div class="label-success" style="padding: 10px !important; color: #fff;">
                                <span th:text="${vm.getMessageTotalProducts()}"></span>
                            </div>
                            <p style="margin-top: 10px;">
                                <button class="btn btn-primary" id="btn-new-product">Insert new product</button>
                            </p>

                            <div class="table-list-product">
                                <table class="table table-bordered table-hover" id="myTable">
                                    <thead>
                                    <tr>
                                        <th>Image</th>
                                        <th>Name</th>
                                        <th>Category</th>
                                        <th>Short desc</th>
                                        <th>Amount</th>
                                        <th>Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    <tr th:each="product : ${vm.getListPagingProducts()}">
                                        <td>
                                            <div class="td-image">
                                                <a th:href="@{'product/detail/' + ${product.getId()}}"><img th:src="${product.getImage()}" alt=""></a>
                                            </div>
                                        </td>
                                        <td><a th:href="@{'product/detail/' + ${product.getId()}}"><span th:text="${product.getName()}"></span></a></td>
                                        <td><span th:text="${product.getCategory().getName()}"></span></td>
                                        <td><span th:text="${product.getShortDesc()}"></span></td>
                                        <td><span th:text="${product.getAmount()}"></span></td>
                                        <td>
                                            <button class="btn btn-default btn-edit-product" th:attr="data-product=${product.getId()}">
                                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                            </button>
                                            <button class="btn btn-default btn-delete-product" th:attr="data-product=${product.getId()}">
                                                <i class="fa fa-trash" aria-hidden="true"></i>
                                            </button>
                                        </td>
                                    </tr>

                                    </tbody>
                                </table>
                            </div>

                            <p style="margin-top: 10px;">
                                <a th:href="@{/}" class="btn btn-primary">Back to index</a>
                            </p>
                        </section>
                        <div id="modal-create-product" class="modal fade" role="dialog">
                            <div class="modal-dialog modal-lg">
                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Product info</h4>
                                    </div>
                                    <div class="modal-body">

                                        <div class="img-select-block margin-bottom-15">
                                            <label>Product image</label><br/>
                                            <img id="preview-product-img" th:src="@{/img/default-img.jpg}" />
                                            <input type='file' id="input-select-img-product" />
                                        </div>

                                        <div class="form-group margin-bottom-15">
                                            <label>Product name:</label>
                                            <input type="text" class="form-control" id="input-product-name">
                                        </div>

                                        <div class="form-group margin-bottom-15">
                                            <label for="product-category">Category:</label>
                                            <select class="form-control" id="product-category">
                                                <option th:each="category : ${vm.getListCategories()}"
                                                        th:value="${category.getId()}" th:text="${category.getName()}"></option>
                                            </select>
                                        </div>

                                        <div class="form-group margin-bottom-15">
                                            <label>Product description:</label>
                                            <textarea type="text" class="form-control" id="input-product-desc"></textarea>
                                        </div>

                                        <div class="form-group margin-bottom-15">
                                            <label>Product amount:</label>
                                            <input type="number" class="form-control" id="input-product-amount"></input>
                                        </div>

                                        <div class="form-group">
                                            <label>Product created date:</label>
                                            <div class='input-group date' id='datepicker-created-date-product'>
                                                <input type='text' class="form-control" />
                                                <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                            </div>
                                        </div>

                                        <button class="btn btn-default btn-save-product">Save product</button>

                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

            <div class="row">
                <!--<div class="col-md-2" id="dashboard">-->
                    <!--<div id="logo-img">-->
                        <!--<a th:href="@{/}">-->
                            <!--<img alt="logo" th:src="@{/img/logo-shop.png}">-->
                        <!--</a>-->
                    <!--</div>-->
                    <!--<div class="clearfix">-->
                        <!--<div id="info-admin">-->
                            <!--<span>Hình ảnh </span> <span> Họ tên</span>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="clearfix">-->
                        <!--<span class="glyphicon glyphicon-home float"></span>-->
                        <!--<a class="name-function float">Trang chủ</a>-->
                    <!--</div>-->
                    <!--<div class="clearfix">-->
                        <!--<span class="glyphicon glyphicon-home float"></span>-->
                        <!--<a class="name-function float">Điều khiển</a>-->
                    <!--</div>-->
                    <!--<div class="clearfix">-->
                        <!--<span class="glyphicon glyphicon-home float"></span>-->
                        <!--<a class="name-function float">Quản lý mặt hàng</a>-->
                    <!--</div>-->
                    <!--<div class="clearfix">-->
                        <!--<span class="glyphicon glyphicon-home float"></span>-->
                        <!--<a class="name-function float">Quản lý khách hàng</a>-->
                    <!--</div>-->
                <!--</div>-->
            </div>
        </div>
            </div>
        </div>
    </div>

</div>
    <footer th:include="fragments/footer :: footer"></footer>

    <script type="text/javascript" th:src="@{/js/admin.js}"></script>

</body>
</html>