<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: header-css">

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!--<div th:replace="fragments/header :: header-css"></div>-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}"/>


    <title>Home page</title>
</head>
<body>

<div th:replace="fragments/header :: header_top"></div>
<div th:replace="fragments/header :: header"></div>
<div th:replace="fragments/header :: header_banner"></div>
<div class="container">
    <div class="spr-banner hidden-xs">
        <div id="bannerSlider" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <th:block th:each="banner,iter : ${vm.getListBanners()}">
                    <li data-target="#bannerSlider" th:if="${iter.index == 0}" th:attr="data-slide-to=${iter.index}" class="active"></li>
                    <li data-target="#bannerSlider" th:unless="${iter.index == 0}" th:attr="data-slide-to=${iter.index}"></li>
                </th:block>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <th:block th:each="banner,iter : ${vm.getListBanners()}">
                    <div class="item active" th:if="${iter.index == 0}">
                        <img th:src="${banner.getLink()}" th:alt="${banner.getAltText()}">
                    </div>

                    <div class="item" th:unless="${iter.index == 0}">
                        <img th:src="${banner.getLink()}" th:alt="${banner.getAltText()}">
                    </div>
                </th:block>
            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#bannerSlider" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#bannerSlider" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>

    <div class="main-content">

        <div class="row">
            <div class="col-md-3 col-sm-4 col-xs-12">
                <div class="panel panel-success">
                    <div class="panel-heading">Menu</div>
                    <div class="panel-body">
                        <div class="list-group">
                            <th:block th:each="menuItem : ${vm.getListVtMenuItemsAside()}">

                                <li class="list-group-item" th:if="${menuItem.getChildren().size() == 0}"><a th:href="${menuItem.getLink()}"
                                                                                     th:text="${menuItem.getText()}"></a>
                                </li>
                                <li class="dropdown list-group-item " th:unless="${menuItem.getChildren().size() == 0}">
                                    <a th:href="${menuItem.getLink()}" class="dropdown-toggle" data-toggle="dropdown"
                                       role="button" aria-haspopup="true" aria-expanded="false">
                                        <span th:text="${menuItem.getText()}"></span> <span class="caret"></span></a>

                                    <ul class="dropdown-menu">
                                        <li th:each="child : ${menuItem.getChildren()}"><a th:href="${child.getLink()}"
                                                                                           th:text="${child.getText()}"></a>
                                        </li>
                                    </ul>
                                </li>
                                <p>
                                    <a class="list-group-item" th:if="${menuItem.getChildren().size() == 0}" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                                        <span th:href="${menuItem.getLink()}"
                                              th:text="${menuItem.getText()}"></span>
                                    </a>
                                </p>
                                <p>
                                    <a class="list-group-item" th:unless="${menuItem.getChildren().size() == 0}" data-toggle="collapse" th:href="${'#collapse'+menuItem.getText()}" role="button" aria-expanded="false" aria-controls="collapseExample">
                                        <span th:href="${menuItem.getLink()}"></span>
                                        <span th:text="${menuItem.getText()}"></span> <span class="caret"></span>
                                    </a>
                                </p>
                                <div th:each="child : ${menuItem.getChildren()}" class="collapse" th:id="${'collapse'+menuItem.getText()}">
                                    <div th:href="${child.getLink()}"
                                         th:text="${child.getText()}" class="card card-body">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                                    </div>
                                </div>

                                <!--<div id="accordion">-->
                                    <!--<div class="card">-->
                                        <!--<div class="card-header" id="headingTwo">-->
                                            <!--<h5 class="mb-0">-->
                                                <!--<div th:if="${menuItem.getChildren().size() == 0}">-->
                                                    <!--<button th:href="${menuItem.getLink()}"-->
                                                            <!--th:text="${menuItem.getText()}" class="btn btn-link collapsed" data-toggle="collapse" aria-expanded="false" aria-controls="collapseTwo">-->
                                                    <!--</button>-->
                                                <!--</div>-->
                                                <!--<div th:unless="${menuItem.getChildren().size() == 0}">-->
                                                    <!--<button th:href="${menuItem.getLink()}" class="btn btn-link collapsed" data-toggle="collapse" data-target="" th:text="${menuItem.getText()}" aria-expanded="false" aria-controls="collapseTwo">-->
                                                        <!--<span th:text="${menuItem.getText()}"></span> <span class="caret"></span>-->
                                                    <!--</button>-->
                                                <!--</div>-->
                                            <!--</h5>-->
                                        <!--</div>-->
                                        <!--<div th:each="child : ${menuItem.getChildren()}" id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">-->
                                            <!--<div th:href="${child.getLink()}"-->
                                                 <!--th:text="${child.getText()}" class="card-body">-->
                                                <!--Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.-->
                                            <!--</div>-->
                                        <!--</div>-->
                                    <!--</div>-->

                                <!--</div>-->
                            </th:block>


                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-9 col-sm-8 col-xs-12">
                <div class="panel panel-success">
                    <div class="panel-heading">List hot products</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-3 col-sm-4 col-xs-6" th:each="product : ${vm.getListHotProducts()}">
                                <div class="item-product">
                                    <div class="item-product__inner">
                                        <div class="item-product__image">
                                            <a class="item-product__img__link" th:href="@{'~/product/detail/' + ${product.getId()}}">
                                                <img th:src="${product.getImage()}" alt="">
                                            </a>
                                        </div>
                                        <div class="item-product__title">
                                            <span th:text="${product.getName()}"></span>
                                        </div>
                                        <div class="item-product__price">
                                            <span th:text="${product.getShortDesc()}"></span>
                                        </div>
                                        <div class="item-product__amount">
                                            <span th:text="${product.getAmount()}"></span>
                                        </div>
                                        <div class="item-product__action">
                                            <button class="btn btn-success">Add to cart</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-warning">
                    <div class="panel-heading">List trend products</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-3 col-sm-4 col-xs-6" th:each="product : ${vm.getListTrendProducts()}">
                                <div class="item-product">
                                    <div class="item-product__inner">
                                        <div class="item-product__image">
                                            <a class="item-product__img__link" th:href="@{'product/detail/' + ${product.getId()}}">
                                                <img th:src="${product.getImage()}" alt="">
                                            </a>
                                        </div>
                                        <div class="item-product__title">
                                            <span th:text="${product.getName()}"></span>
                                        </div>
                                        <div class="item-product__price">
                                            <span th:text="${product.getShortDesc()}"></span>
                                        </div>
                                        <div class="item-product__price">
                                            <span th:text="${product.getAmount()}"></span>
                                        </div>
                                        <div class="item-product__action">
                                            <button class="btn btn-success">Add to cart</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<footer th:include="fragments/footer :: footer"></footer>

<script type="text/javascript" th:src="@{/js/index.js}"></script>

</body>
</html>