<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: header-css">
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}"/>
    <title>Category index</title>
</head>
<body>
<div th:replace="fragments/header :: header_top"></div>
<div th:replace="fragments/header :: header"></div>


<div class="container">
    <div th:if="${vm != null}" class="row">
        <div class="col-md-3 col-sm-4 col-xs-6" th:each="product : ${vm.getProducts()}">
            <div class="item-product">
                <div class="item-product__inner">
                    <div class="item-product__image">
                        <a class="item-product__img__link" th:href="@{'~/product/detail/' + ${product.getId()}}">
                            <img th:src="${product.getImage()}" alt="">
                        </a>
                    </div>
                    <div class="item-product__title">
                        <span th:text="${product.getName()}"></span>
                    </div>
                    <div class="item-product__price">
                        <span th:text="${product.getShortDesc()}"></span>
                    </div>
                    <div class="item-product__amount">
                        <span th:text="${product.getAmount()}"></span>
                    </div>
                    <div class="item-product__action">
                        <button class="btn btn-success">Add to cart</button>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="row" th:unless="${vm.getProducts().size()!=0}">
        <h2>Không có sản phẩm nào</h2>
        <button class="btn btn-default"><a th:href="@{/}">Quay về trang chủ</a></button>
    </div>
</div>

<footer th:include="fragments/footer :: footer"></footer>

</body>
</html>