<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: header-css">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Đăng nhập</title>
</head>
<link rel="stylesheet" th:href="@{/css/user.css}">
<body>
<div th:replace="fragments/header :: header_top"></div>
<div th:replace="fragments/header :: header"></div>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 toppad" >
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Thông tin Khách hàng</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-3 col-lg-3" align="center">
                            <img id="preview-product-img" alt="User Pic" src="/link/1528177697-default-user.png" class="img-circle img-responsive">
                            <input type='file' id="input-select-img-product" />
                        </div>

                        <div class=" col-md-9 col-lg-9 ">
                            <table class="table table-user-information">
                                <tbody>
                                <tr>
                                    <td>User Name:</td>
                                    <td><input class="form-control"  type="text" id="username"></td>
                                </tr>
                                <tr>
                                    <td>Full Name:</td>
                                    <td><input class="form-control"  type="text" id="fullname"></td>
                                </tr>
                                <!--<tr>-->
                                    <!--<td>Created Date:</td>-->
                                    <!--<td>-->
                                        <!--<div class='input-group' id="datepicker-created-date-product">-->
                                        <!--<input type='text' class="form-control" id="date" />-->
                                        <!--<span class="input-group-addon">-->
                                        <!--<span class="glyphicon glyphicon-calendar"></span>-->
                                        <!--</span>-->
                                    <!--</div>-->
                                    <!--</td>-->
                                <!--</tr>-->

                                <tr>
                                <tr>
                                    <td>Gender</td>
                                    <td>
                                        <form>
                                            <input id="male" type="radio" name="gender" value="male"> Male<br>
                                            <input id="female" type="radio" name="gender" value="female"> Female<br>
                                            <input id="other" type="radio" name="gender" value="other"> Other
                                        </form>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Home Address</td>
                                    <td><input  class="form-control" type="text" id="address"></td>
                                </tr>
                                <tr>
                                    <td>Email</td>
                                    <td><input  class="form-control" type="text" id="email"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <button class="btn btn-default btn-save-user">Save User</button>
                </div>

                </div>
            </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h3>Lịch sử mua hàng</h3>

            <table class="table table-bordered table-hover" id="table" style="margin-top: 15px;">
                <thead>
                <tr>
                    <th>STT</th>
                    <th>Số hóa đơn</th>
                    <th>Ngày tạo</th>
                    <th>Địa chỉ</th>
                    <th>Trạng thái</th>
                    <th>Xem chi tiết</th>
                </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>
</div>


<div id="modal-create-bill" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h2  class="modal-title text-center" id="exampleModalLabel">Chi tiết hóa đơn</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group row">
                        <label for="name" class="col-sm-4 col-form-label">Tên Khách Hàng :</label>
                        <div class="col-sm-8">
                            <label id="name">abc</label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="diachi" class="col-sm-4 col-form-label">Địa chỉ :</label>
                        <div class="col-sm-8">
                            <label id="diachi">abc</label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="diachiemail" class="col-sm-4 col-form-label">Email :</label>
                        <div class="col-sm-8">
                            <label id="diachiemail">abc</label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="ngaylap" class="col-sm-4 col-form-label">Ngày lập hóa đơn :</label>
                        <div class="col-sm-8">
                            <label id="ngaylap">abc</label>
                        </div>
                    </div>
                    <h4 style="margin-top: 30px;"><strong>Chi tiết sản phẩm</strong></h4>
                    <hr>
                    <table class="table table-bordered table-hover" id="table-detail">
                        <thead>
                        <tr>
                            <th>STT</th>
                            <th>Tên Sản Phẩm</th>
                            <th>Số Lượng (Kg)</th>
                            <th>Giá (VND)</th>
                            <th>Thành tiền</th>
                        </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                    <hr>
                    <h4 style="margin-top: 30px;"><strong>Tổng :  </strong><span id="sum"></span>  (VND)</h4>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <!--<button type="button" class="btn btn-primary">Save changes</button>-->
            </div>
        </div>

    </div>
</div>


<footer th:include="fragments/footer :: footer"></footer>
<script th:src="@{/js/user.js}"></script>
</body>
</html>